<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue app</title>
</head>
<body>
    <div id="app" v-cloak>
        <input type="text" v-model="newPageName">
        <button class="add" @click="createPage">Создать страницу</button>
        <div v-for="(page, index) in pageList">
            <h1>{{ index + 1 }}) {{ page }} <button class="deleteButton" type="button" @click="deleteBlock(page)">Удалить</button></h1>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
</body>
</html>