<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue app</title>
</head>
<body>
    <iframe src="" frameborder="0"></iframe>
    <div id="app">
        <div class="panel">
            <div>
                <button class="uk-button uk-button-default" uk-toggle="target: #modal-open">Открыть</button>
            </div>
            <div>
                <button class="uk-button uk-button-primary" uk-toggle="target: #modal-save">Опубликовать</button>
                <button class="uk-button uk-button-primary btn-down"><i class="fas fa-chevron-down"></i></button>
                <div uk-dropdown class="dropdown"><button class="uk-button uk-button-default" uk-toggle="target: #modal-backup">Восстановить из бэкапа</button></div>
            </div>
        </div>

        <div id="modal-open" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Открыть</h2>
                <ul class="uk-list uk-list-striped">
                    <li v-for="page in pageList"><a class="uk-link-muted uk-modal-close" href="#" @click="openPage(page)">{{ page }}</a></li>
                </ul>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                </p>
            </div>
        </div>

        <div id="modal-save" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Сохранение</h2>
                <p>Вы действительно хотите сохранить и опубликовать изменения?</p>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                    <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="onBtnSave">Опубликовать</button>
                </p>
            </div>
        </div>

        <div id="modal-backup" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
                <h2 class="uk-modal-title">Восстановление из бэкапа</h2>
                <p v-if="!backupList.length">Не найдено резервных копий этой страницы!</p>
                <ul class="uk-list uk-list-striped">
                    <li v-for="backup in backupList"><a class="uk-link-muted" href="#" @click="restoreBackup(backup)">Резервная копия страницы от {{ backup.time }}</a></li>
                </ul>
                <p class="uk-text-right">
                    <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                </p>
            </div>
        </div>

        <!-- <div id="modal-warning" uk-modal>
            <h2 class="uk-modal-title">Восстановление из бэкапа</h2>
            <p v-if="!backupList.length">Вы действительно хотите восстановить страницу из этой резеврной копии? Все не сохранённые изменения будут утеряны!</p>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Отмена</button>
                <button class="uk-button uk-button-primary uk-modal-close" type="button" @click="restoreBackup(backup)">Восстановить</button>
            </p>
        </div> -->

        <div class="loader" :class="{ 'active': showLoader }">
            <span uk-spinner="ratio: 4.5"></span>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
</body>
</html>